<div class="hero">
    <h1>Jared is a very good teacher!</h1>
</div>

<div class="container">
    <div class="copy row">
        <div class="col-sm-4">
            <img src="http://www.wired.com/wp-content/uploads/2015/07/Wired_RussianMaps_060-600x338-e1437163935565.jpg" alt="hand pointing at map" />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, praesentium mollitia sed illo hic voluptate nostrum.
            </p>
            </div>
        <div class="col-sm-4">
            <div class="image"></div>
            <p class="bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, praesentium mollitia sed illo hic voluptate nostrum.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="http://www.wired.com/wp-content/uploads/2015/07/Wired_RussianMaps_060-600x338-e1437163935565.jpg" alt="hand pointing at map" />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, praesentium mollitia sed illo hic voluptate nostrum consectetur.
            </p>
        </div>
    </div>
    <div class="content">
        <%= render 'notes/latest_note' %>
        <p class="long-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, nobis reprehenderit repellendus obcaecati vero? Minima, ducimus necessitatibus tempore culpa et explicabo omnis eum impedit harum enim odio accusantium in fuga incidunt molestiae veniam modi. Facilis, saepe, debitis quasi in itaque minima veritatis deserunt explicabo dolor ipsa iste earum sit voluptatum. Consequatur, illum, magnam rerum minus amet quis explicabo voluptatum ipsa eligendi tempora velit iure tempore mollitia dolorem pariatur maiores quisquam obcaecati eum itaque ullam placeat cupiditate dolore architecto nesciunt repudiandae id dolor delectus ea voluptates repellendus adipisci commodi fuga nam incidunt sunt possimus earum. Ipsum, doloremque ducimus ut architecto officiis dolores voluptatem vero cum ipsam est maiores sapiente delectus saepe eveniet earum quo rem laboriosam sunt odio ea quisquam laborum id velit alias 
            <span>
                enim voluptatibus voluptate blanditiis dolorem nihil a molestiae quibusdam praesentium veritatis animi minima dignissimos neque accusantium facere nisi odit reprehenderit adipisci magni provident labore molestias aliquid repellat expedita aspernatur tempore similique. Harum, velit, veniam, id accusamus modi natus earum optio corporis tempora quidem iste porro deleniti obcaecati nam doloremque. Perspiciatis, optio, harum, atque iste cum hic obcaecati repellat aperiam assumenda iusto odit maiores dicta repudiandae suscipit illum dolore neque cupiditate aliquam modi odio labore dolores minus earum repellendus culpa tempora pariatur adipisci. Possimus, iusto, sit, veniam velit ducimus tempora esse voluptatum debitis unde quod dicta tempore quis itaque a aperiam! Labore, fugiat minus assumenda voluptatem voluptate numquam adipisci totam iste id dolorem minima ducimus doloremque alias fuga nesciunt rerum ut! Accusamus, iusto, nesciunt debitis iste qui blanditiis praesentium quos sed consectetur voluptatum ullam sit a et vero dolores ipsam cum reprehenderit ab earum error quasi recusandae impedit dicta tenetur omnis itaque officiis. Ex, obcaecati, voluptates fuga sit sed molestiae eum quibusdam quo facilis laudantium nesciunt nulla dolores voluptas consequatur blanditiis sequi quasi et corporis! Iusto, adipisci, ratione, expedita, quisquam alias explicabo in eaque nesciunt autem ea porro quaerat aperiam rem commodi tenetur. Voluptatibus, quidem modi odio unde sunt! Nihil, dolorum asperiores esse deleniti facilis expedita suscipit velit ea ratione dignissimos atque consectetur delectus aperiam cupiditate accusamus unde ab repellat sed iste autem! Sapiente, ratione, ex, ducimus, aspernatur totam at dolorem blanditiis impedit excepturi veritatis vitae praesentium commodi necessitatibus a debitis consectetur ea facere accusamus minima eius deleniti! Quisquam, rerum, ab facilis esse adipisci eveniet deserunt quasi porro dolorem eius neque autem possimus deleniti aut fuga architecto commodi sed necessitatibus ex doloribus laboriosam voluptatum inventore qui mollitia dolore quia culpa obcaecati nobis rem ullam hic doloremque assumenda odit? Molestias, quis, sequi, reprehenderit aliquam assumenda repellat neque autem similique temporibus tempore fugiat corporis aspernatur perferendis ad dicta quasi dolorem eum dolorum doloribus molestiae consectetur soluta recusandae. Perspiciatis, excepturi, vel odio ullam recusandae eligendi minima libero ipsum perferendis sunt iste accusamus ipsa unde modi facilis ad reiciendis distinctio necessitatibus eaque dicta nostrum enim quibusdam repellendus dolores incidunt labore dolore nulla cumque optio hic beatae illo ut saepe? Qui dolorem voluptas vero molestias dicta aliquid nulla dolore inventore veritatis accusantium. Consectetur, nisi laudantium libero consequuntur sint incidunt at sit maiores vero?
            </span>
        </p>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, doloremque ducimus nostrum autem tenetur vitae rerum? Quibusdam praesentium dolorem dolor vel aperiam distinctio aspernatur culpa dignissimos. Delectus nobis perferendis omnis!</div>
        <div>Quae, aut, soluta nemo ut officiis nam pariatur atque repellendus laborum debitis molestias similique eligendi hic unde ea. Itaque, tempora soluta earum impedit necessitatibus tenetur? Fugiat perferendis inventore natus magnam.</div>
        <div>Cupiditate, eum, excepturi, voluptatem voluptas maxime vero beatae dolore commodi possimus maiores alias repudiandae repellat blanditiis voluptatibus illum? Nesciunt, dolor voluptas earum quos eum voluptatem quo fugit vero eos mollitia.</div>
        <div>Ab, praesentium ipsa quisquam optio quo nisi harum! Blanditiis, eveniet, ea, totam, sequi labore provident sunt magni aut maiores dolores dicta quam odit. Quidem fugit consectetur voluptas est error ipsum!</div>
        <div>Ipsa, iusto, odio et minus nemo sequi reprehenderit in est adipisci maxime saepe deserunt perferendis. Iste, repellendus, dolorem nobis molestiae corporis quisquam nam sequi blanditiis distinctio accusantium quis voluptate veritatis?</div>    
    </div>
</div> 